$font-size: 16px;

$tangerine: #fca311;
$grey: #888888;
$blue: #14213d;
$black: #000000;
$platinum: #e5e5e5;
$white: #ffffff;
$warn: #ffb3b3;

$sidebar-font-size: 14px;
$sidebar-background: #f4f4f4;
$sidebar-item-color: darken($sidebar-background, 70%);
$sidebar-border: darken($sidebar-background, 15%);
