@import '../styles/variables';

.ChannelPage {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .message-list {
  }

  .channel-header {
  }

  .channel-name {
    font-weight: bold;
  }
  .channel-operators {
  }
}
